* {
    font-family: "Poppins";
}

@font-face {
    font-family: roboto;
    src: url("../fonts/Roboto-Regular.ttf");
  }

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dde5f4;
    height: 100vh;
}

label,
span {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: 600;
    font-size: small;
}

.screen-1 {
    background: #f1f7fe;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0 0 2em #e6e9f9;
    gap: 2em;
    
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;

        .logo-img {
            width: 200px;
            height: auto;
            margin: -20px 0px 30px 0px;
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        height: fit-content;
        .email {
            background: white;
            box-shadow: 0 0 2em #e6e9f9;
            padding: 1em;
            border-radius: 20px;
            color: #4d4d4d;
            margin-top: -3em;
    
            .sec-2 {
                display: flex;
                flex-direction: row;
                align-items: center;

                .mail-input {
                    margin-left: 5px;
                }
            }
        }
    
        .password {
            background: white;
            box-shadow: 0 0 2em #e6e9f9;
            padding: 1em;
            gap: 0.5em;
            border-radius: 20px;
            color: #4d4d4d;
            margin-top: 10px;
    
            .sec-2 {
                display: flex;
                flex-direction: row;
                align-items: center;
                .password-input {
                    margin-left: 5px;
                }
            }
        }
        
        .login {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px 0px 10px 0px;
            .button {
                padding: 1em;
                background: #3e4684;
                color: white;
                border: none;
                border-radius: 30px;
                font-weight: 600;
                width: 100%;
            }
        }
    
        .footer {
            display: flex;
            font-size: 0.7em;
            color: #000000;
            justify-content: space-between;
            
            span {
                cursor: pointer;
            }
        }
    }
}

button {
    cursor: pointer;
}