.question-answered {
    background-color: rgba(25, 179, 148, 0.05);
  }
  
  .question-content .question-root {
    border: 1px solid lightgray;
    border-radius: 5px;
    border-left: 4px solid #18a689;
    padding: 20px;
    margin: 10px 0;
  }
  
  .question-content .question-root-checkboxes {
    border-left: 4px solid orange;
  }
  
  .question-title-required {
    color: #e60a3e;
  }
  