.header {
    height: 10%;
    background: white;
    box-shadow: 0px 2px 5px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;

    .menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 15%;
        margin-right: 10px;
        .home,
        .logout,
        .users,
        .categories {
            cursor: pointer;
        }
    }
}