/* Site Settings */
.wrapper, html, body {
  /* height:100%;
  width:100%; */
  margin: 0px;
  font-family: Khmer;
  scroll-behavior: smooth;
  scroll-snap-type: x proximity;
  scroll-snap-align: center;
  background-color: #313131;
}
.wrapper{
  display: flex;
  flex-direction:row;
  /* Main styling */
  .NavBar {
    display: flex;
    flex-direction: column;
    flex:1;
    position: fixed;
    height:100%;
    
    .NavItem {
      font-size: 3rem;
      color: white;
      border: 1px #4f6db8 solid;
      background-color:dodgerblue;
      text-align: center;
      align-self:center;
      line-height: 15rem;
      width: 15rem; height: 100%;
      transition:200ms;
    }
    .NavItem img{
      align-items: center;
      justify-content: center;
      height: 14rem;
      padding-top: 2rem;
    }
    .NavItem:hover{
      transform: scale(1.1);
      transition: 200ms;
    } 
    .NavItem:active{
      transform: scale(1);
    }
  }
  .Content {
    padding-left: 15rem;
    display: flex;
    flex-direction: column;
    flex:1;
    
    .ContItem{
      display: flex;
      /* border: 2px solid; */
      background-color: #313131;
      color: white;
      margin: 0px;
      
      .Center {
        display: flex;
        flex: auto;
        /* border: 2px red solid; */
        flex-direction: column;
        padding: 1rem;
        align-self: center;
        
        .CenterItem{
          flex-shrink: 1;
          /* border: 2px blue solid; */
          padding: 1rem;
          align-self: center;
          font-size: 1.5rem;
        }
      }
    }
  }
}
.AccessibilityToggle{
  width: 3rem; 
  height: 3rem; 
  left: 96%; 
  top: 93%; 
  position: fixed; 
  border-radius: 100px;
  transition: 0.5s;
}
.AccessibilityToggle:hover {
  transform: scale(1.2);
  transition: 0.5s;
}
.AccessibilityToggle:active{
  transform: scale(1);
}
/* Default Tag Customization */
h1{
  font-size: 85px; height:15rem;
  line-height: 15rem; padding: 2rem;
  background: linear-gradient(
    30deg,
    rgba(43,84,214,1) 0%,
    rgba(30,215,252,1) 78%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 200ms;
}
h2{
  font-size: 40px;
  width:20rem;
}
hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:#ffffff;
  height: 3px;
}

#stdyimg{
  height: 30rem;
  width: 50rem;
}
#abtcard{
  background-color:rgb(202, 215, 217);
  color:#313131;
  font-size: 40px;
  width:20rem; height: 10rem;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 0 2rem rgb(144, 153, 154);
  transition:700ms;

}
#abtcard:hover{
  transform: scale(1.08);
  transition:200ms;
}
#abtcard:activate{
  transform: scale(0.95);
  transition: 200ms;
}

/* Style the button that is used to open and close the collapsible content */
#faq{
  display: flex;
  flex-direction: column;
  width: 80rem;
  gap:2rem;
}
.collapsible {
  background-color: #777777;
  color: #ffffff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 35px;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #5f5f5f;
}
/* Style the collapsible content. Note: hidden by default */
.hidden {
  padding: 0 18px;
  display:none;
  overflow: hidden;
  background-color: #494949;
  opacity: 0;
  transition: display 0.5s, opacity 0.5s linear;
}


*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}



