.wrapper, html, body {
  height:100%;
  width:100%;
  margin: 0px;
  font-family: Khmer;
}
.wrapper{
  display: flex;
  flex-direction:row;
}
.NavBar {
  display: flex;
  flex-direction: column;
  flex:1;
  position: fixed;
  height:100%;
}
.NavItem{
  font-size: 3rem;
  color: white;
  border: 1px #3A8FDE solid;
  background-color: #3fa9cb;
  text-align: center;
  align-self:stretch;
  line-height: 15rem;
  width: 15rem; height: 100%;
  transition:200ms;
}
.Content {
  padding-left: 15rem;
  display: flex;
  flex-direction: column;
  flex:1;
}
.ContItem{
  background-color: #313131;
  color: white;
  margin: 0px;
  /* display: flex; */
}
.CenterItem{
  display: flex;
  padding: 3rem;
  align-self: center;
  /* align-self: end; */
}
h1{
  font-size: 85px; height:15rem;
  line-height: 15rem; padding-left: 1rem;
}
h2{
  font-size: 40px;
  width:40rem;
}

.Center {
  display: flex;
  flex-direction: column;
  padding-bottom: 10rem;
  padding-left: 1rem;
}

.AccessibilityToggle{
  width: 3rem; 
  height: 3rem; 
  left: 96%; 
  top: 93%; 
  position: fixed; 
  border-radius: 100px;
  transition: 0.5s;
}

.AccessibilityToggle:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.NavItem:hover{
  transform: scale(1.1);
  transition: 200ms;
}